<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   Test 11 {{testVar}} <br>
    <ion-button (click)='getCurrent()'>
        getCurrent
    </ion-button>
    <ion-button (click)='getCurrent2()'>
      getCurrent2 plugins
  </ion-button>
    <ion-button (click)='changeTestText()'>
     chnge test text
  </ion-button>

  </div>
</ion-content>
